---
BasedOnStyle: Chromium
AccessModifierOffset: 0
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCompound: true
  AlignFunctionPointers: true
  PadOperators: false
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCompound: true
  AlignFunctionPointers: true
  PadOperators: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossComments: true
  AlignCompound: true
  AlignFunctionPointers: true
  PadOperators: true
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCompound: true
  AlignFunctionPointers: true
  PadOperators: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseArrows: true
  AlignCaseColons: true
ColumnLimit: 100
NamespaceIndentation: All
CommentPragmas: ""
IncludeCategories:
  - Regex: ^<.*\.h>
    Priority: 1
    SortPriority: 0
    CaseSensitive: false
  - Regex: ^<.*
    Priority: 2
    SortPriority: 0
    CaseSensitive: false
  - Regex: .*
    Priority: 3
    SortPriority: 0
    CaseSensitive: false
IndentPPDirectives: AfterHash
IndentWidth: 4
TabWidth: 4
UseTab: Always
Language: Cpp
IndentAccessModifiers: true

