/build
/webserv
/webserv_bonus
/.gitignore
*.d
*.o
flake.nix
flake.lock
.envrc
.clangd
vgcore.*
.idea
.subject.txt
/dl/
webserv_emis
cgi_dumper
big_file
cgi_dump
cookie_factory.txt
diff.hex
script.sh
standalone_cgi.sh
test_cgi
tester.hex
ubuntu_tester.conf
diff.hex
dumper_cgi
testing
post_dir
req_dumps
YoupiBanane
